*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family:'Microsoft Yahei','Arial',Tahoma,'Simsun';
}

em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none !important;}
img{border: none;margin: 0px;padding: 0px;}
ul,ol,p{
    margin: 0px;
}

.register_bottom{
    width: 100%;
    text-align: center;
    background-color: #64a9e0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: white;
    position: relative;
}