*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family: 'Arial','Microsoft Yahei',Tahoma,'Simsun';
}
html,body{
    /*height:99%;*/
    margin:0px;
}
em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}

.inforPerContain{
    padding:0;
    background-color: #dae6ef;
    position: relative;
    height: 100%;
}
.inforPer_left{
    width: 240px;
    border-right: 1px solid #77afea;
    background-color: #eeeeee;
    position: absolute;
}

#realTime{
    height: 50px;
    background-color: #e8e7e7;
    border-bottom: 1px solid #c9d5df ;
}

#realTime img{
    padding-left: 50px;
    padding-right: 10px;
    display: block;
    float: left;
    margin-top: 12px;
}
#realTime p{
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #464646;
}
.inforPer_left ul {
    background-color: #fafafa;
}
.inforPer_left ul li {
    line-height: 40px;
    border-bottom: 1px solid #eeeeee;
}

.realTimeDiv{
    font-size: 16px;
    background-position: 200px 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 20px;
}
.realTimeLi img{
    padding-right: 10px;
}

/*左边ul title的俩个css*/
.infor_Click{
    background-image: url("../images/inforPer/click_y.png");
    color: #4ea0ea;
}
.infor_NoClick{
    background-image: url("../images/inforPer/click_n.png");
    color: #222222;
}

.inforPer_right{
    margin-left: 261px;
    margin-right: 20px;
    margin-top: 0px;
    min-height: 100%;
    padding: 0;
    background-color: #dae6ef;
}
.rr{
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0px;
}

#mainFrame{
    margin: 0px auto 60px;
    width: 100%;
    border: none;
}
.inforPer_right_tittle{
    width: 700px;
    float: left;
    padding-top: 18px;
}
.ifp_logo{
    float: left;
    padding-right: 10px;
}
.inforPer_right_tittle p{
    font-size: 12px;
    color: #777777;
    float: left;
}
/*左边li的俩个css*/
.liClick{
    background-image: url("../images/left/left_7.png");
    background-position: 232px 0px;
    background-repeat: no-repeat;
    color: #4ea0ea;
}
.liNoClick{
    color: #464646;
}

.hide{
    display: none;
}
.show{
    display: block;
}