*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family: 'Arial','Microsoft Yahei',Tahoma,'Simsun';
}
html,body{
    height:99%;
    margin:0px;
    background-color: #dae6ef;
}

em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}

.ipr{
    width: 100%;
    min-width: 720px;
    margin-top: 18px;
    background-color: white;
    border: 1px solid #77afea;
    float: left;
    border-radius: 4px;
}
.personInformation,.enterInformation{
    width: 100%;
   min-width: 720px;
    margin-top: 40px;
}

.personInformation div,.enterInformation div{
    width: 100%;
    height: 32px;
    margin-top: 20px;
}
.personInformation label,.enterInformation label{
    width: 140px;
    text-align: right;
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #777777;
}
.personInformation input,.enterInformation input{
    width: 293px;
    float: left;
    margin-left: 5px;
    height: 30px;
    line-height: 32px;
    margin-bottom: 0px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding-left: 5px;
}
.personInformation select,.enterInformation select{
    width: 300px;
    float: left;
    margin-left: 5px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 0px;
    /*color: #777777;*/
}
.personInformation span,.enterInformation span{
    width: auto;
    float: left;
    margin-left: 10px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    color: #777777;
}
.personInformation span img,.enterInformation span img{
    display: block;
    padding-right: 5px;
    margin-top: 5px;
    float: left;
}
#ipr_butt,#ipr_button{
    width: 100%;
    min-width: 700px;
    height: 36px;
    margin: 30px auto 0px !important;
}
#iprButt,#iprButton{
    width: 100%;
    height: 36px;
}
.iprSave,.iprReset{
    width: 84px;
    height: 36px;
    border-radius: 2px;
    display: block;
    line-height: 36px;
    float: left;
    font-size: 14px;
    text-align: center;
}
.iprSave{
    color: white;
    background: url("../images/inforPerRight/ifp_1.png") no-repeat;
    margin-left: 145px;
}
.iprReset{
    background: url("../images/inforPerRight/ifp_2.png") no-repeat;
    color: #464646;
    margin-left: 20px;
}
/*¹«¹²Àà*/
.show{
    display: block;
}
.hide{
    display: none;
}
.yesInput{
    border-color: #bbbbbb;
}
.errorInput{
    border-color:  #f01f1f;
}
