*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family:'Microsoft Yahei','Arial',Tahoma,'Simsun';
}
em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}
ul,ol,p{
    margin: 0px;
}
#main-container{
    padding: 0px;
    /*background-color: #eeeeee;*/
    height: 100%;
    position: fixed;
}
.sidebar{
    width: 240px;
    border-right: 1px solid #77afea;
}

#realTime{
    height: 50px;
    line-height: 50px;
    color: #464646;
    background-color: #e8e7e7;
    font-size: 18px;
    border-bottom: 1px solid #c9d5df ;
}
#realTime img,.contractOrder img{
    padding-left: 50px;
    padding-right: 10px;
    margin-top:-8px;
}
.sidebar ul{
    background-color: #fafafa;
}
.sidebar ul li{
    line-height: 40px;
    border-bottom: 1px solid #eeeeee;
}

.realTimeDiv{
    font-size: 16px;
    background-position: 200px 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 20px;
}
.realTimeLi img{
    padding-right: 10px;
}
.realTimeLi ul{
   border-top: 1px solid #eeeeee;
    background-color: white;
}
.realTimeLi ul li{
    font-size: 14px;
    background-repeat: no-repeat;
    padding-left: 65px;
    cursor: pointer;
}
.realTimeLi ul li img{
    margin-top: -2px;
}
/*左边ul title的俩个css*/
.ulClick{
    background-image: url("../images/left/left_4.png");
    color: #4ea0ea;
}
.ulNoClick{
    background-image: url("../images/left/left_3.png");
    color: #222222;
}
/*左边li的俩个css*/
.liClick{
    background-image: url("../images/left/left_7.png");
    background-position: 232px 0px;
    color: #4ea0ea;
}
.liNoClick{
    color: #464646;
}