*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family: 'Arial','Microsoft Yahei',Tahoma,'Simsun';
}
em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}


#background{
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}
.login_containt{
    width: 100%;
    height: 100%;
}
.login_box{
    position: absolute;
    width: 1054px;
    height: 354px;
    overflow: hidden !important;
    /*text-align: center;*/
    /*vertical-align:middle;*/
    top: 50%;
    left: 50%;
    margin-left:-527px;
    margin-top:-172px;
}
.login_logo{
    width: 477px;
    float: left;
    margin-top: 143px;
}
.login_form{
    width: 540px;
    height: 345px;
    background-color: #339fc0;
    float: left;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 3px #196f97;
    border: 2px solid #2fc3e2;
}
.login_box:after{
    content: "";
    clear: both;
}
.systemLogin{
    width: 514px;
    height: 40px;
    margin: 13px 13px 0px 13px;
    line-height: 40px;
    float: left;
    border-radius: 5px;
}
.loginError{
    width: 510px;
    height: 36px;
    margin: 15px 15px 0px 15px;
    float: left;
    border-radius: 4px;
}
.systemLogin{
    background:url("../images/login/loginTitle.png") no-repeat;
}
.systemLogin p{
    font-size: 16px;
    color: white;
    margin-left: 10px;
    float: left;
}
.loginError{
   background: url("../images/login/loginTitleError.png") no-repeat;
}
.loginError img{
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}
.loginError p{
    color: white;
    float: left;
    margin-left: 10px;
    line-height: 36px;
}
.login_content{
    width: 510px;
    height: 270px;
    margin: 60px 15px 0px 15px;
    background-color: rgb(205,230,240);
    /*filter:alpha(opacity=75); /!*IE滤镜，透明度50%*!/*/
    /*-moz-opacity:0.75; /!*Firefox私有，透明度50%*!/*/
    /*opacity:0.75;/!*其他，透明度50%*!/*/
    border-radius: 4px;
}
.username-group{
    padding: 30px 80px 0px 80px;
    height: 40px;
    line-height: 40px;
}

.username-group label,.password-group label{
    width: 56px;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0px;
    font-size: 14px;
    color: #464646;
}
.username-group input,.password-group input{
    width: 278px;
    float: left;
    height: 37px;
    line-height: 40px;
    margin-left: 12px;
    border-radius: 2px;
    border: 1px solid #bbbbbb;
    background-color: white;
}
.password-group{
    padding: 20px 80px 0px 80px;
    height: 40px;
    line-height: 40px;
}
.save-group{
    margin: 20px 80px 0 150px;
    height: 16px;
    line-height: 16px;
}
.save-group input{
    margin-top: -2px;
    border: none;
    display: none;
    width: 16px;
    height: 16px;
}
.save-group div{
    float: left;
    margin-bottom: 0px;
    line-height: 16px;
    cursor: pointer;
}
.savePasswordSpan{
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 10px;
}
.savePassword{
    width: 80px;
}
.save-group a{
    display: block;
    float: right;
    text-decoration: none;
    font-size: 14px;
    color: #438eb9;
}
.login_button{
    margin: 30px 80px 0 150px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
.login_button a{
    width: 70px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    display: block;
}
.loginButton{
    background: url("../images/login/loginButton.png") no-repeat;
    border-radius: 5px;
    float: left;
    color: white;
    margin-left: 130px;
}
.noLoginButton{
    background: url("../images/login/cancelLogin.png") no-repeat;
    border-radius: 5px;
    float: right;
    color: #464646;
}

/*公共类*/
.show{
    display: block;
}
.hide{
    display: none;
}
.inputClick{
    background: url("../images/login/inputClick.png") no-repeat;
}
.inputNoClick{
    background: url("../images/login/inputNoClick.png") no-repeat;
}