*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 14px;
    font-family:'Microsoft Yahei','Arial',Tahoma,'Simsun';
}
em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}

.register_top{
    width: 1080px;
    margin: 30px auto 0px;
    height: 90px;
    position: relative;
    border-bottom:1px solid #dddddd;
}

.register_top span{
    width: 200px;
    font-size: 18px;
    margin-left: 20px;
    border-left: 1px solid #222222;
    padding-left: 20px;
    color: #222222;
    top: 16px;
    left: 114px;
    position: absolute;
}
.register_top p{
    width: 1080px;
    text-align: right;
    float: left;
    font-size: 12px;
    margin-top: 10px;
}
.register_top a{
    font-size: 12px;
    cursor: pointer;
    color: #438eb9;
    padding-left: 5px;
}
.accountInformation,.contactsInformation{
     width:1080px;
     margin: 0px auto;
 }
.accountInformation{
    padding-bottom:20px;
}
.contactsInformation{
    padding-bottom: 30px;
}
.accountInformation{
    border-bottom: 1px solid #dddddd;
}
.accountInformation p,.contactsInformation p{
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    margin-top: 20px;
}
.accountInformation div,.contactsInformation div{
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.accountInformation label,.contactsInformation label{
    width: 120px;
    text-align: right;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #464646;
}
.accountInformation input,.contactsInformation input{
    width: 293px;
    float: left;
    margin-left: 10px;
    height: 38px;
    line-height: 40px;
    margin-bottom: 0px;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
}
.contactsInformation select{
    width: 300px;
    float: left;
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0px;
    color: #464646;
}
.accountInformation span,.contactsInformation span{
    width: auto;
    float: left;
    margin-left: 10px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: #777777;
}
.accountInformation span img,.contactsInformation span img{
    display: block;
    padding-right: 5px;
    margin-top: 7px;
    float: left;
}
#register_codes{
    width: 120px;
}
#checkCode{
    width: 60px;
    font-size: 18px;
    text-align: center;
    color: #63c266;
    background-color: white;
    border: none;
    cursor: pointer;
}
#register_check{
    width: 20px;
    height: 20px;
    margin-left: 130px;
    margin-top: -1px;
    margin-right: 10px;
    display: none;
    border: none;
}
#registerCheck{
    height: 20px;
}
.registerCheckA{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #438eb9;
    float: left;
    display: block;
}
#checkboxP{
    width: 100px;
    float: left;
    text-align: left;
    color: #464646;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: 0px;
    font-weight: normal;
    cursor: pointer;
}


.registerButton a{
    font-size: 18px;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#check_register{
    width: 256px;
    height: 20px;
    float: left;
    margin-top: 0px;
}


#registerSpan {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 130px;
    cursor: pointer;
}

.register_button{
    width: 1080px;
    margin: 0px auto;
}
.registerButton{
     width: 200px;
     height: 40px;
     line-height: 40px;
     margin-left: 130px;
     margin-bottom: 60px;
     border-radius: 2px;
 }
.registera{
    background: url("../images/register/registerNoButton.png");
    color: #464646;
}
.registera:hover{
    background: url("../images/register/registerCanButton.png");
    color: white;
}

#checkSpanY{
    height: 20px;
    line-height: 20px;
}
#checkSpanY img{
    margin-top: -2px;
}
/*公共类*/
.show{
    display: block;
}
.hide{
    display: none;
}

.inputClick{
    background: url("../images/login/inputClick.png") no-repeat;
}
.inputNoClick{
    background: url("../images/login/inputNoClick.png") no-repeat;
}

.yesInput{
    border-color: #bbbbbb;
}
.errorInput{
    border-color:  #f01f1f;
}
