<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>头部</title>
    <script type="text/javascript" src="../js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/top.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/top.css">
</head>
<body>
    <div class="head">
        <!--<img class="headFirstImg" src="../images/headlogo.png">-->
        <div class="head_choice">
            <ul>
                <li><img src="../images/head_2.png"></li>
                <li><img src="../images/head_3.png"></li>
                <li><img src="../images/head_4.png"></li>
                <li><img src="../images/head_5.png"></li>
                <li><img src="../images/head_6.png"></li>
            </ul>
        </div>
        <!--<div class="head_users">-->

        <!--</div>-->
    </div>
</body>
</html>