<script type="text/javascript" src="../js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../js/head.js"></script>
<link rel="stylesheet" href="../css/head.css">

<div class="head">
    <div class="head_logo">
        <img src="../images/login/logo.png">
    </div>
    <div class="head_choice">
        <ul>
            <li class="head_homePage"></li>
            <li class="head_inforMana"></li>
            <li class="head_pageMana"></li>
            <li class="head_userMana"></li>
            <li class="head_systeMana"></li>
        </ul>
    </div>
    <div class="head_users">
        <div class="login_username">
            <p>欢迎您</p>
            <span>admin</span>
        </div>
        <div class="updatePassword">
            <p>修改密码</p>
        </div>
        <div class="loginOut">
            <p>退出系统</p>
        </div>
    </div>
</div>