<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一级页面</title>
    <script type="text/javascript" src="../js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/head.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/left.css">
</head>
<body>
    <div class="head">
        <div class="head_logo">
           <img src="../images/head/head_logo.png">
        </div>
        <div class="head_choice">
            <ul>
                <li class="head_homePage"></li>
                <li class="head_inforMana"></li>
                <li class="head_pageMana"></li>
                <li class="head_userMana"></li>
                <li class="head_systeMana"></li>
            </ul>
        </div>
        <div class="head_users">
              <div class="login_username">
                  <p>欢迎您</p>
                  <span>admin</span>
              </div>
              <div class="updatePassword">
                  <p>修改密码</p>
              </div>
              <div class="loginOut">
                  <p>退出系统</p>
              </div>
        </div>
    </div>
    <div class="container-fluid" id="main-container">
        <!--左侧列表-->
       <div class="sidebar">
           <div id="realTime"><img src="../images/left/left_1.png">实时报表</div>
           <ul>
               <li class="realTimeLi">
                  <div class="ct ulNoClick realTimeDiv"><img src="../images/left/ct_n.png">合同订单管理</div>
                  <ul  class="ct_ul hide">
                      <li class="liClick"><img src="../images/left/left_6.png">合同信息维护</li>
                      <li class="liNoClick"><img src="../images/left/left_5.png">合同信息查询</li>
                      <li class="liNoClick"><img src="../images/left/left_5.png">订单信息维护</li>
                      <li class="liNoClick"><img src="../images/left/left_5.png">订单信息查询</li>
                  </ul>
               </li>
               <li class="realTimeLi">
                   <div class="cm ulNoClick realTimeDiv"><img src="../images/left/cm_n.png">编码管理</div>
                   <ul  class="cm_ul hide">
                       <li class="liClick"><img src="../images/left/left_6.png">序列号生成</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">序列号打印</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">序列号查询</li>
                   </ul>
               </li>
               <li class="realTimeLi">
                   <div class="sm ulNoClick realTimeDiv"><img src="../images/left/sm_n.png">供货计划管理</div>
                   <ul  class="sm_ul hide">
                       <li class="liClick"><img src="../images/left/left_6.png">发货单维护</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">发货单查询</li>
                   </ul>
               </li>
               <li class="realTimeLi">
                   <div class="is ulNoClick realTimeDiv"><img src="../images/left/is_n.png">信息查询</div>
                   <ul  class="is_ul hide">
                       <li class="liClick"><img src="../images/left/left_6.png">产品查询</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">标准查询</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">资质查询</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">市场价格查询</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">招标采购查询</li>
                   </ul>
               </li>
               <li class="realTimeLi">
                   <div class="bis ulNoClick realTimeDiv"><img src="../images/left/bis_n.png">基础信息管理</div>
                   <ul  class="bis_ul hide">
                       <li class="liClick"><img src="../images/left/left_6.png">供应商管理</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">生产厂商管理</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">物资档案管理</li>
                   </ul>
               </li>
               <li class="realTimeLi">
                   <div class="qsi ulNoClick realTimeDiv"><img src="../images/left/qsi_n.png">质量抽查监督信息</div>
                   <ul  class="qsi_ul hide">
                       <li class="liClick"><img src="../images/left/left_6.png">质量监督信息维护</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">质量监督信息查询</li>
                   </ul>
               </li>
               <li class="realTimeLi">
                   <div class="sym ulNoClick realTimeDiv"><img src="../images/left/sym_n.png">系统管理</div>
                   <ul  class="sym_ul hide">
                       <li class="liClick"><img src="../images/left/left_6.png">组织管理</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">系统用户</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">用户审核</li>
                       <li class="liNoClick"><img src="../images/left/left_5.png">企业审核</li>
                   </ul>
               </li>
           </ul>
       </div>
    </div>
</body>
</html>