<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>信息完善</title>
    <script type="text/javascript" src="../js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/inforPer.js"></script>
    <!--<link rel="stylesheet" href="../css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../css/inforPer.css">
    <link rel="stylesheet" href="../css/head.css">
</head>
<body>
<div class="head">
    <div class="head_logo">
        <img src="../images/head/head_logo.png">
    </div>
    <div class="head_choice">
        <ul>
            <li class="head_homePage"></li>
            <li class="head_inforMana"></li>
            <li class="head_pageMana"></li>
            <li class="head_userMana"></li>
            <li class="head_systeMana"></li>
        </ul>
    </div>
    <div class="head_users">
        <div class="login_username">
            <p>欢迎您</p>
            <span>admin</span>
        </div>
        <div class="updatePassword">
            <p>修改密码</p>
        </div>
        <div class="loginOut">
            <p>退出系统</p>
        </div>
    </div>
</div>
<div class="inforPerContain">
    <!--<form name="inforPerForm" id="inforPerForm" method="post">-->
        <!--<div></div>-->
    <!--</form>-->
    <div class="inforPer_left">
        <div id="realTime"><img src="../images/left/left_1.png">用户管理</div>
        <ul>
            <li class="ei realTimeLi liNoClick">
                <div class="ei_div infor_NoClick realTimeDiv"><img src="../images/inforPer/ei_n.png">个人信息</div>
            </li>
            <li class="pi realTimeLi liNoClick">
                <div class="pi_div infor_NoClick realTimeDiv"><img src="../images/inforPer/pi_n.png">所属企业信息</div>
            </li>
        </ul>
    </div>
    <div class="inforPer_right">
        fdsf
        <!--<div class="ss"></div>-->
    </div>
    <div class="rr"></div>
</div>
</body>
</html>