<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>新增订单信息</title>
    <script type="text/javascript" src="../js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../js/newOrderInformation.js"></script>
    <link rel="stylesheet" href="../css/newOrderInformation.css">
</head>
<body>
    <div class="nor_body">
        <div class="nor">
            <div class="nor_title">
                <p>新增订单信息</p>
                <a href="javascript:;" onclick="nor_close()"><img src="../images/newOrderInformation/colse.png"></a>
            </div>
            <form>
                <div class="nor_content">
                    <div class="contentDiv">
                        <label>订单号：</label>
                        <input type="text" value="">
                    </div>
                    <div class="contentDiv">
                        <label>合同编号：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>合同名称：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>物资编号：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>物资名称：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>规格型号：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>计量单位：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>产地：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>材质：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>产品标识代码：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>使用寿命：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>编码方式：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>编码：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>单价：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>总数量：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>生产厂家编号：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>生产厂家名称：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>发货地址：</label>
                        <input type="text" value="">
                    </div>
                    <div>
                        <label>收货地址：</label>
                        <input type="text" value="">
                    </div>
                </div>
                <div class="formButton">
                    <a class="saveForm" href="javascript:;" onclick="saveNoiForm()">保存</a>
                    <a class="resetForm" href="javascript:;" onclick="resetNoiForm()">取消</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        var windowHeight=$(document).height() //浏览器可视高度
        var norHeight=$(".nor").height() //nor高度
        var necTop //nci距离头部的距离
        if(norHeight<=windowHeight){
            $(".nor_body").height(windowHeight)  //设置nor_body的高度
            necTop=(windowHeight-norHeight)/2
            $(".nor").css("margin-top",necTop)
        }else{
            $(".nor").css("margin-top","100px")
        }
    </script>
</body>
</html>